$black: #000;
$light-black: #232323;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.8);
$point: #a10e16;
$point2: #082340;
$point2-light: #c6a78b;
$point2-light-bright: #c8a16c;
$point2-dark: #1e3a4b;
$vary-light-gray: #f5f5f5;
$vary-light-gray2: #f6f6f6;
$grey: #ddd;
$red: red;
$dark-grey: #999999;
$vary-dark-grey: #666;
$sub-point: #821e1e;
$input-color: #dddddd;

//font
$korea: 'NotoSansKR', sans-serif, 'Malgun Gothic', '맑은 고딕';

$default-font: $korea, AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$mont: 'Montserrat', $korea;
$traj: 'TrajanPro', $korea;